numpy<2.0.0
av==12.1.0
omegaconf
hydra-core
hydra_colorlog
pesq
pystoi
torchdiffeq
torchmetrics==1.2.0
julius
diffq
encodec
rotary_embedding_torch
peft
xformers
librosa
demucs
torchtext
flashy>=0.0.1
num2words
einops
sentencepiece
git+https://github.com/facebookresearch/audiocraft.git